.banner-img {
    height: 700px;
}

.header-caption {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 640px) {
    .banner-img {
        height: 280px;
    }

    .header-caption {
        height: auto;
    }
}

@media only screen and (min-width:641px) and (max-width:1023px) {
    .banner-img {
        height: 520px;
    }

    .header-caption {
        width: 100%;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}