.dashboard-default-content {
    background-image: url("https://i.ibb.co/QKQZNVX/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-date-div{
    border-radius: 20px;
    padding: 35px;
    color: rgb(230, 68, 14);
    font-weight: 900;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}